@font-face {
    font-family: interFont;
    src: url(./assets/fonts/Inter-VariableFont_opsz\,wght.woff2) format(woff2),
            url(./assets/fonts/Inter-VariableFont_opsz\,wght.woff) format(woff);
}

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 16px;
    font-family: interFont, Arial, sans-serif;
}
body {
    background-color: rgb(37, 37, 37);
}

#page-grid-div {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 1fr 4fr;
    border: 1px solid blue; /* Guideline */
}

#side-bar {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 5fr;
    border: 1px solid red /* Guideline */
}

#side-head {
    grid-row: 1 / 2;
    display: flex;
    gap: 20px;
    color: white;
    align-items: center;
    justify-content: center;
}

#main-img {
    width: 60px;
    height: 60px;
}

#side-body {
    grid-row: 2 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid orange; /* Guideline */
}

#side-body > h2 {
    color: white;
}

#main-content {
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 20px;
    background-color: rgb(63, 63, 63);
    border: 1px solid yellow; /* Guideline */
}

button {
    font-size: 1.1rem;
    width: 140px;
    height: 30px;
    border-radius: 5px;
}

#todo-button {
    border: 1px solid rgb(255, 250, 241);
    color: rgb(255, 250, 241);
    background-color: rgb(84, 106, 245);
}

.task-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-name {
    color: white;
    font-size: 2.2rem;
    font-weight: 600;
}

.task-container {
    display: flex;
    align-items: center;
    color: white;
    background-color:rgb(35, 35, 35);
    border: 2px solid rgb(18, 18, 18);
    border-radius: 10px;
    padding: 10px;
}

.task-info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}

.task-name {
    grid-column: 1 / 4;
    font-size: 1.1rem;
    font-weight: 500;
}

.task-priority {
    display: flex;
    justify-content: center;
    width: 70px;
}

.high {
    background-color: rgb(255, 89, 89);
}

.medium {
    background-color: rgb(244, 207, 86);
}

.low {
    background-color: rgb(99, 184, 99);
}

.task-notes {
    grid-column: 1 / 2;
}